.btn {
  font-size: 14px;
  position: relative;
  top: 20px;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  border: 0.5px solid #c1c9ce;
}
.cali-cities {
  position: relative;
  top: 29px;
  left: 30px;
  font-size: 14px;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
}
.city {
  position: relative;
  top: 20px;
  font-family: "Mitr", sans-serif;
}
.temp {
  font-size: 50px;
}
.card-city {
  font-size: 20px;
  font-weight: 300;
}
.farenheight {
  position: relative;
  top: -80px;
  left: 79px;
  font-weight: 300;
  font-size: 30px;
}
.card-one {
  font-family: "Mitr", sans-serif;
  position: fixed;
  top: 135px;
  left: 52px;
  text-transform: capitalize;
  line-height: 33px;
}
.date-time {
  font-weight: 300;
  font-size: larger;
  position: relative;
  top: -25px;
}
.weather-condition {
  font-weight: 100;
  position: relative;
  top: -28px;
}
small {
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
  bottom: -675px;
}
