.btn {
  font-size: 14px;
  position: relative;
  top: 20px;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  border: 0.5px solid #c1c9ce;
}
.col-2 {
  position: relative;
  top: 29px;
  left: 30px;
  font-size: 14px;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.city {
  position: relative;
  top: 20px;
  font-family: "Mitr", sans-serif;
}
.temp {
  font-size: 100px;
  position: relative;
  top: -170px;
  left: 75px;
}
.card-city {
  font-size: 38px;
  font-weight: 400;
  position: relative;
  top: -200px;
  left: 45px;
}
.fahrenheight {
  position: relative;
  top: -273px;
  left: 307px;
  font-weight: 200;
  font-size: 37px;
  text-decoration: none;
  color: black;
}
.celsius {
  position: relative;
  top: -240px;
  left: 247px;
  font-weight: 200;
  font-size: 37px;
  text-decoration: none;
  color: black;
}
.card-one {
  font-family: "Mitr", sans-serif;
  position: fixed;
  top: 20px;
  left: 180px;
  text-transform: capitalize;
  line-height: 33px;
}
.date {
  font-weight: 300;
  font-size: 35px;
  position: relative;
  top: -185px;
  left: 30px;
}
.weather-condition {
  font-weight: 100;
  font-size: 30px;
  position: relative;
  top: -180px;
  left: 30px;
}
small {
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
  bottom: -675px;
}
#weather-description {
  position: relative;
  top: -289px;
  left: 295px;
  font-weight: 100;
}
